# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build & Cache
.turbo/
.next/
dist/
build/
out/
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Vercel
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
next-env.d.ts